{
  "x-generator": "NSwag v14.5.0.0 (NJsonSchema v11.4.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "SkySlope API",
    "description": "\nThis is the restricted documentation for Creating, Retrieving, and Updating SkySlope Listings and Sales.\n\n## FAQ\n\n### Who do I contact for help?\nThe best resource for help is the SkySlope Support team. They can be reached at 1-800-507-4117 or by visiting support.skyslope.com to connect via chat.\n\n### How can I get help authenticating?\nThe Authentication section of this documentation provides instructions on how to authenticate as well as some code examples for generating an HMAC. For an authentication example with video walkthrough please check out [this code repository](https://github.com/skyslope/example-authentication) and [video](https://www.loom.com/share/090cc16fb21b47688d97a35b99465489). If you need additional assistance authenticating, please reach out to the SkySlope Support Team.\n\n### Where do I get the Client Id and Secret?\nYour Customer Success Manager will assist with providing the Client Id and Secret in a password protected zip file. The password to access the zip file will be shared separately with your primary technical contact.\n\n### Where do I get the access key and secret for a user?\nThe Access Key and Secret must be generated by each user from within their own SkySlope account. Detailed instructions on how to generate an Access Key and Secret are provided in the Getting started section of this documentation.\n\n### Do I need to get each agent's authentication?\nYes for security reasons and compliance of the audit log, each user has their own Access Key and Secret they need to provide to integrate.\n\n### As a vendor, do I need to get access from each brokerage?\nYes. You are required to get access from each brokerage.\n\n### What do I have to do if I want to access multiple brokerages?\nYou will need to get the Access Key and Secret of each user from each brokerage that you wish to work with.\n\n### How can I generate test data in my SkySlope test account to be used with the API?\nWhen your test account is provided, it will not have any Listings or Sales populated. You can manually create property files from within the account or you can utilize the file creation scripts provided [here](https://github.com/skyslope/create-sample-files) to generate some test files.\n\n### Do we have access to pull all fields?\nYes, you can pull all fields of the user you are integrated with using the Bulk Export endpoint. For an example of how to use the Bulk Export with video walkthrough please check out [this code repository](https://github.com/skyslope/bulk-export-api) and [video](https://www.loom.com/share/2b4276e52fa7464698bcae0b77b6be47) \n\n### Are we able to only pull certain fields?\nYes, our GraphQl endpoint can return the same data as the Bulk Export but if you do not need all of the data then you can specify which fields will come back in your response. More information for GraphQl can be found [here](https://github.com/skyslope/graphql-bulk-export-api) with a video tutorial [here](https://www.loom.com/share/c63eda77fe3348bb8eb70f3c323d14f7).\n\n### What are your rate limits?\nBy default each Client Id is limited to 100 requests per minute. If you run into issues hitting the limit, you can utilize the rate limit headers returned in each response to know when to wait. More information about this in the Rate limiting section of this documentation.\n\n### Do you offer webhooks? \nNo, we do not offer webhooks.\n\n### Where can I get a swagger or OpenAPI definition for SkySlope API?\nYou can download our [Swagger.json](swagger.json).\n\n### How can I tell if the SkySlope API is down?\n`GET /api/healthcheck` will return a  `200 OK` if everything is ok.\n\n## 🔒 HMAC Authentication Process\n\n### Authentication Overview\nSkySlope uses HMAC-SHA256 authentication with the following process:\n\n1. **POST** to `https://api.skyslope.com/auth/login`\n2. **Include** required headers and payload\n3. **Receive** session token (valid for 2 hours)\n4. **Use** session token for all subsequent API calls\n\n### Required Headers\n```http\nContent-Type: application/json\nAuthorization: SS <AccessKey>:<HMAC>\nTimestamp: <RFC3339_UTC_Timestamp>\n```\n\n### Request Payload\n```json\n{\n  \"clientID\": \"your_client_id\",\n  \"clientSecret\": \"your_client_secret\"\n}\n```\n\n### HMAC Generation\nThe HMAC is computed using your `AccessSecret` as the key and this input:\n```\n<ClientID>:<ClientSecret>:<Timestamp>\n```\n\n### C# Authentication Example\n```csharp\nstring clientId = \"your_client_id\";\nstring clientSecret = \"your_client_secret\"; \nstring accessKey = \"YOUR_ACCESS_KEY\";\nstring accessSecret = \"YOUR_ACCESS_SECRET\";\nstring timestamp = DateTime.UtcNow.ToString(\"yyyy-MM-ddTHH:mm:ssZ\");\n\nvar key = Encoding.UTF8.GetBytes(accessSecret);\nvar input = $\"{clientId}:{clientSecret}:{timestamp}\";\nvar hmacBytes = new HMACSHA256(key).ComputeHash(Encoding.UTF8.GetBytes(input));\nvar hmac = Convert.ToBase64String(hmacBytes);\nvar authHeader = \"SS \" + accessKey + \":\" + hmac;\n```\n\n### Node.js Authentication Example\n```javascript\nconst crypto = require('crypto');\nconst clientId = \"your_client_id\";\nconst clientSecret = \"your_client_secret\";\nconst accessKey = \"YOUR_ACCESS_KEY\";\nconst accessSecret = \"YOUR_ACCESS_SECRET\";\nconst timestamp = new Date().toISOString();\n\nconst hmac = crypto.createHmac(\"sha256\", accessSecret)\n  .update(clientId + \":\" + clientSecret + \":\" + timestamp)\n  .digest(\"base64\");\nconst authHeader = \"SS \" + accessKey + \":\" + hmac;\n```\n\n### Bash Authentication Example\n```bash\nTIMESTAMP=$(date -u \"+%Y-%m-%dT%TZ\")\nHMAC=$(echo -n \"$CLIENT_ID:$CLIENT_SECRET:$TIMESTAMP\" | openssl sha256 -binary -hmac \"$ACCESS_SECRET\" | base64)\n\ncurl -X POST \\\n  -H \"Authorization: SS $ACCESS_KEY:$HMAC\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Timestamp: $TIMESTAMP\" \\\n  --data \"{\\\\\"ClientId\\\\\":\\\\\"$CLIENT_ID\\\\\",\\\\\"ClientSecret\\\\\":\\\\\"$CLIENT_SECRET\\\\\"}\" \\\n  https://api.skyslope.com/auth/login\n```\n\n### Authentication Response\n```json\n{\n  \"Session\": \"fe17fd08cf9fc17b7440d35b9b6d5d4429a2089f08b8b3f1faddcc5e56490920\",\n  \"Expiration\": \"2019-07-11T20:34:50Z\"\n}\n```\n\n**Important Notes**:\n- ⏰ **Timestamp Validity**: Must be within 5 minutes of UTC time\n- 🕐 **Session Duration**: Sessions expire after 2 hours\n- 🔄 **Token Renewal**: Get a new session by re-authenticating\n\n## 📊 Rate Limits & Usage\n\n### What are your rate limits?\n- **Default Limit**: 100 requests per minute per Client ID\n- **Monitoring**: Check rate limit headers in each response\n- **Management**: Use headers to know when to wait before next request\n\n### Rate Limit Headers\n```http\nx-ratelimit-limit: 100        # Total requests allowed per window\nx-ratelimit-remaining: 85     # Requests remaining in current window  \nx-ratelimit-reset: 1614290760 # When the next window starts (Unix timestamp)\n```\n\n### Example: Handling Rate Limits\n```javascript\n// Convert Unix timestamp to readable date\nconst resetTime = new Date(1614290760 * 1000).toISOString();\n// Result: \"2021-02-25T22:06:00.000Z\"\n```\n\n---\n\n# API Reference\n\nBelow you'll find detailed documentation for all endpoints in the SkySlope API, organized by functionality with interactive examples and complete request/response specifications.\n",
    "contact": {
      "name": "SkySlope Support",
      "url": "https://support.skyslope.com/hc/en-us",
      "email": ""
    },
    "version": "BETA"
  },
  "servers": [
    {
      "url": "https://api.skyslope.com"
    }
  ],
  "paths": {
    "/api/files": {
      "get": {
        "tags": [
          "Bulk Export"
        ],
        "summary": "Stream all sales & listings",
        "description": "### Validation & Requirements\n#### Required Parameters\n- None\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "BulkExport_GetBulkExport",
        "parameters": [
          {
            "name": "createdAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "createdBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "checklistModifiedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "checklistModifiedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "closedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "closedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email of the listing or sale.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "propertyAddress",
            "in": "query",
            "description": "A search parameter that is a substring of the property address of the listing or sale. For example, propertyAddress=sacra will find files in the city Sacramento or on Sacramento St.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "state",
            "in": "query",
            "description": "A search parameter that matches on property state abbreviation.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "zip",
            "in": "query",
            "description": "A search parameter that matches on property zip.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 12
          },
          {
            "name": "type",
            "in": "query",
            "description": "A comma separated list whose items can be `all`, `sale`, `listing`, or `summary`, and defaults to `all`.",
            "schema": {
              "type": "string",
              "default": "all",
              "nullable": true
            },
            "x-position": 13
          },
          {
            "name": "status",
            "in": "query",
            "description": "A comma separated list whose items can be `all`, `active`, `pending`, `closed`, `incomplete`, `expired`, `canceledPending`, `canceledApproved`, and `archived` and defaults to `all`.",
            "schema": {
              "type": "string",
              "default": "all",
              "nullable": true
            },
            "x-position": 14
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a JSON object with a 'value' array containing summary, listing, and sale objects. Items are streamed as they are retrieved — consumers can process each item as it arrives.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkExportStreamingResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/replica-timestamp": {
      "get": {
        "tags": [
          "Bulk Export"
        ],
        "summary": "Get replica timestamp (test endpoint)",
        "description": "### Validation & Requirements\n#### Required Parameters\n- None\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "BulkExport_GetReplicaTimestamp",
        "responses": {
          "200": {
            "description": "Returns the replica's last commit timestamp for testing data freshness",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/offices/{officeGuid}/checklistTypes": {
      "get": {
        "tags": [
          "Checklists"
        ],
        "summary": "List checklist types",
        "description": "Lists checklist types for the specified office. transactionType is required (Listing or Sale). Returns 422 when the office is not accessible to the user or transactionType is missing/invalid.\n\n### Validation & Requirements\n#### Required Parameters\n- `officeGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "Checklists_GetChecklistTypes",
        "parameters": [
          {
            "name": "officeGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the office whose checklist types you want to retrieve.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "transactionType",
            "in": "query",
            "description": "Optional transaction type filter. Use Listing or Sale.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TransactionType"
                }
              ]
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetChecklistTypesResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/checklistTypes": {
      "get": {
        "tags": [
          "Checklists"
        ],
        "summary": "List checklist types",
        "description": "Lists checklist types for single-office subscribers. transactionType is required (Listing or Sale). Multi-office subscribers should use the office-scoped checklist-types endpoint.\n\n### Validation & Requirements\n#### Required Parameters\n- None\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "Checklists_GetChecklistTypesSingleOffice",
        "parameters": [
          {
            "name": "transactionType",
            "in": "query",
            "description": "Required transaction type filter. Use Listing or Sale.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TransactionType"
                }
              ]
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetChecklistTypesResponse2"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/offices/{sourceOfficeGuid}/checklists/copy": {
      "post": {
        "tags": [
          "Checklists"
        ],
        "summary": "Copy checklists",
        "description": "Copies selected checklists from a source office to one or more target offices. checklistNames and targetOfficeGuids are required and must be non-empty. transactionType must be Listing or Sale. User must have office access and be Broker/Auditor. Returns 422 if source checklists or target/source offices are invalid/inactive.\n\n### Validation & Requirements\n#### Required Parameters\n- `sourceOfficeGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "Checklists_CopyChecklists",
        "parameters": [
          {
            "name": "sourceOfficeGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the source office to copy checklists from.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "Copy request containing checklists to copy, target offices, transaction type, and override settings",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyChecklistsForm"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfCopyChecklistsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors - invalid request data, unauthorized user, or resources not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "Source office, target offices, or checklists not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contacts",
        "description": "List directory contacts visible to the current user. All query parameters are optional filters; blank values are ignored.\n\n### Validation & Requirements\n#### Required Parameters\n- None\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "Contacts_GetContacts",
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "description": "Filter by first name.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Filter by last name.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "company",
            "in": "query",
            "description": "Filter by company.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email address.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "streetNumber",
            "in": "query",
            "description": "Filter by street number.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "streetName",
            "in": "query",
            "description": "Filter by street name.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "zip",
            "in": "query",
            "description": "Filter by ZIP code.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "city",
            "in": "query",
            "description": "Filter by city.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Filter by primary phone.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "alternatePhone",
            "in": "query",
            "description": "Filter by alternate phone.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "fax",
            "in": "query",
            "description": "Filter by fax number.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 12
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetContactsResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create contact",
        "description": "Create a new directory contact. firstName, lastName, and email are required. If isShared is true, the current user must be a broker.\n\n### Validation & Requirements\n#### Required Parameters\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- `firstName` (minLength=1, maxLength=100)\n- `lastName` (minLength=1, maxLength=100)\n- `email` (format=email, minLength=1, maxLength=100)\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "Contacts_CreateContact",
        "requestBody": {
          "x-name": "form",
          "description": "New contact details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectoryContactForm"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfCreateDirectoryContactResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/contacts/{contactGuid}": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update contact",
        "description": "Partially update a directory contact. Only the contact creator can update it. Non-brokers cannot update shared contacts.\n\n### Validation & Requirements\n#### Required Parameters\n- `contactGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- Phone, fax, and alternate phone values must be exactly 10 numeric digits (no separators).\n- If email is provided, it must be a valid email format.\n- City cannot contain numeric digits.",
        "operationId": "Contacts_UpdateContacts",
        "parameters": [
          {
            "name": "contactGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the contact to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "FirstName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "LastName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Company",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "Email",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "StreetNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "StreetName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "Zip",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 8
          },
          {
            "name": "City",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "State",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "Phone",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 11
          },
          {
            "name": "AlternatePhone",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 12
          },
          {
            "name": "Fax",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 13
          },
          {
            "name": "IsShared",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 14
          },
          {
            "name": "IsCompany",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 15
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetContactsResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete contact",
        "description": "Delete a directory contact. Only the contact creator can delete it. Returns 204 No Content on success.\n\n### Validation & Requirements\n#### Required Parameters\n- `contactGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "Contacts_DeleteContact",
        "parameters": [
          {
            "name": "contactGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the contact to delete.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/sales/{saleGuid}/addDocumentsToSaleForm": {
      "get": {
        "tags": [
          "Sale documents"
        ],
        "summary": "Get add document form",
        "description": "Gets the add-document form for a sale.\n\n### Validation & Requirements\n#### Required Parameters\n- `saleGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "Documents_GetAddDocumentToSaleForm",
        "parameters": [
          {
            "name": "saleGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the sale you want to add the document to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetAddDocumentoToSaleFormResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/sales/{saleGuid}/documents": {
      "post": {
        "tags": [
          "Sale documents"
        ],
        "summary": "Add document",
        "description": "Adds a document to a sale. fileName and base64Content are required. Returns 422 for invalid file names, file names longer than 150 characters, or invalid base64 content.\n\n### Validation & Requirements\n#### Required Parameters\n- `saleGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- `base64Content` (minLength=1)\n- `fileName` (minLength=1)\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- File name is required and cannot exceed 150 characters.\n- base64Content must be valid base64.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "Documents_AddDocumentToSale",
        "parameters": [
          {
            "name": "saleGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the sale you want to add the document to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentToSaleForm"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfAddDocumentToSaleResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/sales/{saleGuid}/documents/{documentGuid}": {
      "patch": {
        "tags": [
          "Sale documents"
        ],
        "summary": "Update document",
        "description": "Patches sale document metadata for the specified document GUID. Supported fields are fileName and folder. folder must be Admin, Trash, or null. Only brokers/auditors can move documents to Admin or out of Admin. File extension changes are rejected. Invalid patch types/values return 422.\n\n### Validation & Requirements\n#### Required Parameters\n- `saleGuid` (path, string, format=guid)\n- `documentGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "Documents_PatchSaleDocument",
        "parameters": [
          {
            "name": "saleGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the sale that owns the document.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "documentGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the document metadata record to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          },
          {
            "name": "FileName",
            "in": "query",
            "description": "The filename of the document",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Folder",
            "in": "query",
            "description": "Can be Admin or Trash or null",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfAddDocumentToSaleResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/addDocumentsToListingForm": {
      "get": {
        "tags": [
          "Sale documents"
        ],
        "summary": "Get add document form",
        "description": "Get the add-document form for a listing.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "Documents_GetAddDocumentToListingForm",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add the document to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetAddDocumentoToSaleFormResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/documents": {
      "post": {
        "tags": [
          "Sale documents"
        ],
        "summary": "Add document",
        "description": "Adds a PDF document to the listing. fileName and base64Content are required.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- `base64Content` (minLength=1)\n- `fileName` (minLength=1)\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- File name is required and cannot exceed 150 characters.\n- base64Content must be valid base64.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "Documents_AddDocumentToListing",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add the document to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "Document upload payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentToListingForm"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfAddDocumentToSaleResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/sales/{saleGuid}/earnestMoneyDeposit": {
      "patch": {
        "tags": [
          "Earnest money deposit"
        ],
        "summary": "Update earnest money deposit",
        "description": "Patches earnest-money-deposit fields for the specified sale. Only fields supplied in the patch are updated. Invalid patch value types return 422. DatePostedToLogBook and DateOfCheck are normalized to date-only values.\n\n### Validation & Requirements\n#### Required Parameters\n- `saleGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "EarnestMoneyDeposit_GetUpdateSaleContactForm",
        "parameters": [
          {
            "name": "saleGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the sale whose earnest money deposit you want to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "IsEarnestMoneyHeld",
            "in": "query",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "DepositAmount",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "decimal",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "DepositDueDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "DatePostedToLogBook",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "DateOfCheck",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "AdditionalDepositAmount",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "decimal",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "AdditionalDepositDueDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfPatchEarnestMoneyDepositResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/agent": {
      "put": {
        "tags": [
          "Listing Agents"
        ],
        "summary": "Update agent",
        "description": "Update the primary agent on a listing. agentGuid is required and must be a known user in the subscriber.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- `agentGuid` (format=guid, minLength=1)\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingAgents_UpdateListingAgent",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "New primary agent assignment payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListingAgentForm"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfUpdateListingAgentResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/checklistType": {
      "put": {
        "tags": [
          "Listing Checklist Types"
        ],
        "summary": "Update checklist type",
        "description": "Updates the listing checklist type. checklistTypeId is required and must be valid for the listing office. Commercial lease and non-commercial-lease checklist types cannot be switched across categories.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- `checklistTypeId` (format=int32)\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingChecklistType_UpdateListingChecklistType",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "Checklist type update payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListingChecklistTypeForm"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfUpdateListingChecklistTypeResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/updateListingCoAgentsForm": {
      "get": {
        "tags": [
          "Listing Co Agents"
        ],
        "summary": "Get update co agents form",
        "description": "Gets the dynamic co-agent update form for the listing.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "ListingCoAgents_GetUpdateListingCoAgentsForm",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetUpdateListingCoAgentsFormResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/coAgents": {
      "put": {
        "tags": [
          "Listing Co Agents"
        ],
        "summary": "Update co agents",
        "description": "Replaces the listing co-agent set. coAgentGuids must not be null; use an empty array to remove all co agents.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- CoAgentGuids cannot be null. Use an empty array to remove all co-agents.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingCoAgents_UpdateListingCoAgents",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "Co-agent update payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListingCoAgentsForm"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfUpdateListingCoAgentsResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/commissionReferralForm": {
      "get": {
        "tags": [
          "Listing Commission Referral"
        ],
        "summary": "Get form",
        "description": "### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "ListingCommissionReferral_AddCommissionToListingGET",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetListingCommissionReferralFormResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/commissionReferral": {
      "post": {
        "tags": [
          "Listing Commission Referral"
        ],
        "summary": "Add commission referral",
        "description": "### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- Commission referral values must satisfy domain commission rules; invalid percentages/amounts return 422.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingCommissionReferral_AddCommissionToListingPOST",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "The form with commission referral data you want to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCommissionReferralToListingForm"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfAddCommissionReferralToListing"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Listing Commission Referral"
        ],
        "summary": "Update commission referral",
        "description": "Patches existing listing commission referral fields. Set contact to null to remove the contact. Returns 422 if referral data does not exist, percent and amount are both set, values are out of range (percent 0-100; amount >= 0), brokerName exceeds 50 characters, or contact fields are invalid.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- Commission referral values must satisfy domain commission rules; invalid percentages/amounts return 422.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingCommissionReferral_PatchCommissionToListing",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "Contact.FirstName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "Contact.LastName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Contact.Email",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "Contact.PhoneNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "BrokerName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "Amount",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "decimal",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "Percent",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "decimal",
              "nullable": true
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfAddCommissionReferralToListing"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/addCommissionsToListingForm": {
      "get": {
        "tags": [
          "Listing Commissions"
        ],
        "summary": "Get add commissions form",
        "description": "Gets the add-commissions form for a listing. Call this immediately before adding commissions to get current required fields and constraints.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "ListingCommissions_GetListingCommissionForm",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add commissions to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetAddCommissionToListingFormResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/commissions": {
      "post": {
        "tags": [
          "Listing Commissions"
        ],
        "summary": "Add commissions",
        "description": "Adds commission data to a listing. Returns 422 when commission data is already present, when percent and amount are both set for the same commission, or when values fail range/required-field rules.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- Commission percentages must be between 0 and 100, and commission amounts cannot be negative.\n- Each commission entry must be percent or amount, not both.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingCommissions_AddCommissionToListing",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add commissions to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "The form with commissions you want to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCommissionToListingForm"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfAddCommissionToListingResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      },
      "put": {
        "tags": [
          "Listing Commissions"
        ],
        "summary": "Update commissions",
        "description": "Updates listing commission data using subscriber managed-field rules. Returns 422 when percent and amount are both set for the same commission, when values are out of range, or when required managed fields are missing.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- Commission percentages must be between 0 and 100, and commission amounts cannot be negative.\n- Each commission entry must be percent or amount, not both.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingCommissions_UpdateListingCommission",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "The form with commissions you want to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListingCommissionsForm"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfAddCommissionToListingResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/updateListingCommissionsForm": {
      "get": {
        "tags": [
          "Listing Commissions"
        ],
        "summary": "Get update commissions form",
        "description": "Gets the dynamic update-commissions form for a listing. Call this immediately before updating commissions to get current required fields and constraints.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "ListingCommissions_GetUpdateListingForm",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to update.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetUpdateListingCommissionsFormResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/addSellerContactToListingForm": {
      "get": {
        "tags": [
          "Listing Contacts"
        ],
        "summary": "Get add seller contact form",
        "description": "Gets the add-seller-contact form for the listing. A listing can have up to 5 seller contacts.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "ListingContacts_GetAddSellerContactToListingForm",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add a seller contact to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetAddSellerToListingFormResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/sellerContact": {
      "post": {
        "tags": [
          "Listing Contacts"
        ],
        "summary": "Add seller contact",
        "description": "Adds a seller contact to the listing. A listing can have up to 5 seller contacts; adding another returns 422.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- Phone, fax, and alternate phone values must be exactly 10 numeric digits (no separators).\n- If email is provided, it must be a valid email format.\n- City cannot contain numeric digits.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingContacts_AddSellerContacts",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add a seller contact to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "The contact you want to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellerDTO"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfAddSellerToListingResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/addHomeWarrantyContactToListingForm": {
      "get": {
        "tags": [
          "Listing Contacts"
        ],
        "summary": "Get add home warranty contact form",
        "description": "Gets the add-home-warranty-contact form for the listing. A listing can have only one home warranty contact.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "ListingContacts_GetAddHomeWarrantyContactToListingForm",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add a home warranty contact to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetAddHomeWarrantyToListingFormResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/homeWarrantyContact": {
      "post": {
        "tags": [
          "Listing Contacts"
        ],
        "summary": "Add home warranty contact",
        "description": "Adds a home warranty contact to the listing. A listing can have only one home warranty contact; adding another returns 422.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- Phone, fax, and alternate phone values must be exactly 10 numeric digits (no separators).\n- If email is provided, it must be a valid email format.\n- City cannot contain numeric digits.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingContacts_AddHomeWarrantyContacts",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add a home warranty contact to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "The contact you want to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HomeWarrantyContactDTO"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfAddHomeWarrantyToListingResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/addMiscellaneousContactToListingForm": {
      "get": {
        "tags": [
          "Listing Contacts"
        ],
        "summary": "Get add miscellaneous contact form",
        "description": "Gets the add-miscellaneous-contact form for the listing. A listing can have only one miscellaneous contact.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.",
        "operationId": "ListingContacts_GetAddMiscellaneousContactToListingForm",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add a miscellaneous contact to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedResponseOfGetAddMiscellaneousContactToListingFormResponse"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        },
        "security": [
          {
            "OpenIdConnect": []
          }
        ]
      }
    },
    "/api/files/listings/{listingGuid}/miscellaneousContact": {
      "post": {
        "tags": [
          "Listing Contacts"
        ],
        "summary": "Add miscellaneous contact",
        "description": "Adds a miscellaneous contact to the listing. A listing can have only one miscellaneous contact; adding another returns 422.\n\n### Validation & Requirements\n#### Required Parameters\n- `listingGuid` (path, string, format=guid)\n- `form` (body, object)\n\n#### Required JSON Body Fields\n- None\n\n#### Validations\n- Invalid GUID values in `*Guid`/`*Guids` fields return `422 Unprocessable Entity`.\n- Invalid date values in `*date*` fields return `422 Unprocessable Entity`.\n- Missing required request body returns `422 Unprocessable Entity` with `Missing request body.`.\n- Additional business-rule validation may return `422` with details in the `errors` array.\n- Phone, fax, and alternate phone values must be exactly 10 numeric digits (no separators).\n- If email is provided, it must be a valid email format.\n- City cannot contain numeric digits.\n\n#### Integration Requirement\n- Retrieve the corresponding `...Form` endpoint immediately before write operations to get current dynamic required fields and allowed values.",
        "operationId": "ListingContacts_AddMiscellaneousContacts",
        "parameters": [
          {
            "name": "listingGuid",
            "in": "path",
            "required": true,
            "description": "GUID of the listing you want to add a miscellaneous contact to.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "form",
          "description": "The contact you want to add.",
          "content": {
            "application/json": {
[...]
